<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>The interactions between urban environments, technology, and communities are increasingly dependent upon space telecommunication infrastructures. However, these infrastructures are both out of sight and out of reach. What techniques can be deployed to assess, and subvert, their materiality and socio-environmental impact? What kind of cohabitation strategies between citizens, artists, researchers, scientists, corporations, architects, and urbanists can initiate new forms of collective engagement and provoke new relations with the built environment?  </p>
      </div>
      <div class="col-lg-4">
        <p> Departing from the premise that the right to the city is a fundamental human right, this group aims to offer strategies to best exercise it in the context of the urbanization of space technology. By engaging with the impact of planetary thinking at the urban level, it seeks to invent possibilities of aesthetic, ecological, and civic engagement that challenge the urban impact of space telecommunication infrastructures. Through site-specific urban interventions, case-studies, and visual provocations, students and researchers will engage with the material forms that space technology takes in the city.</p>
      </div>
    </div>
    <div class="row" style="padding: 10px; margin:20px;">
    </div>
  </div>
</section>
